{% autoescape off %}
Bonjour {{first_name}} {{ last_name }},

Le 27 juin, la Ressourcerie de l’Espace Coop a été intégrée à La Base (labase.anct.gouv.fr), nouvelle plateforme nationale de mise en réseau de celles et ceux qui participent au développement d'un numérique d'intérêt général. Vous pouvez d'ores-et-déjà vous y rendre pour retrouver toutes les ressources publiées jusqu'à présent sur la Ressourcerie, et bien d'autres recensées plus largement par toute la communauté de l'inclusion numérique !

- Qu’est-ce que La Base ?

La Base est la plateforme de mise en réseau des ressources produites par les acteurs et actrices du numérique d'intérêt général, notamment sur l'inclusion et la médiation numériques.

La Base permet aux utilisateurs et aux utilisatrices, qu'il s'agisse d'agents et agentes de collectivités, de médiateurs ou médiatrices numériques, Hubs territoriaux pour un numérique inclusif, associations, structures de l'ESS, élus, ou toute autre personne intéressée de près ou de loin par le numérique d'intérêt général, de partager ou documenter des outils, ressources, dispositifs.

- Comment me rendre sur La Base ?

Votre compte a déjà été créé avec le mail {{ email }}. Il faut simplement modifier votre mot de passe en suivant ce lien :
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}.

- Est-ce important d'utiliser avec mon adresse {{ email }} ?

Oui ! Votre compte avec votre adresse {{ email }} a été ajouté aux Bases fermées Conseillers numériques France Services, auxquelles seuls les CNFS auront accès. Il est donc essentiel d'utiliser cette adresse mail, et si vous le souhaitez, vous pourrez par la suite la modifier et la remplacer par l'adresse mail de votre choix via votre compte.

- Où retrouver les ressources de la Ressourcerie de l’Espace Coop ?

Comme évoqué ci-dessus, les ressources de la Ressourcerie ont d'ores-et-déjà été basculées sur la Base officielle Conseillers numériques France Services. Seuls les CNFS y ont accès.

- Puis-je publier sur La Base ?

Oui ! Contrairement à l'ancienne Ressourcerie, vous allez très prochainement pouvoir publier sur la Base officielle Conseillers numériques France Services. Vous recevrez plus d'informations à ce sujet lors du webinaire de présentation de La Base le 30 juin de 14h à 15h30 et sur Mattermost.
Lien d'inscription au webinaire : https://teams.microsoft.com/registration/ZWOrbpSBxkmk0OLRoPvrdA,koEzyGRG6kOQCDej4bj83A,0tw8xU9gl0yinkTZVv45Xg,GDmii-b1o0-vKqx9En2a_g,Dma2vVtiZkae-qEYmRQn2Q,fmnBRNx_H02zKHAvTJCKCQ?mode=read&tenantId=6eab6365-8194-49c6-a4d0-e2d1a0fbeb74

En cas de questions, vous pouvez nous écrire à cette adresse : labase@anct.gouv.fr

Bonne journée !

L’équipe Conseillers numériques France Services
{% endautoescape %}
